bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Task1_1/x64
/x64
*.exe
/Task1_2/x64
.idea
TasksCPP.sln.DotSettings.user
x64*

/OOP_C++/Task_3/cmake-build-debug
/OOP_C++/Task_4/cmake-build-debug
/Term_3/Task_4_2_new/cmake-build-debug
